<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Alex & Teona wedding</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="manifest" href="site.webmanifest"> -->
  <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">
  <!-- FontAwesome JS -->
  <script defer src="https://use.fontawesome.com/releases/v5.8.2/js/all.js"
          integrity="sha384-DJ25uNYET2XCl5ZF++U8eNxPWqcKohUUBUpKGlNLMchM7q4Wjg2CUpjHLaL8yYPH"
          crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/assets/css/vendor/font-icon.css">
  <link rel="stylesheet" href="/assets/css/vendor/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets/css/vendor/magnific-popup.css">
  <link rel="stylesheet" href="/assets/css/vendor/themify-icons.css">
  <link rel="stylesheet" href="/assets/css/vendor/nice-select.css">
  <link rel="stylesheet" href="/assets/css/vendor/flaticon.css">
  <link rel="stylesheet" href="/assets/css/vendor/flaticon.css">
  <link rel="stylesheet" href="/assets/css/vendor/gijgo.css">
  <link rel="stylesheet" href="/assets/css/vendor/slicknav.css">
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
