<div id="invitatie" class="attending_area">
  <div class="container">
    <div class="row">
      <div class="col-xl-10 offset-xl-1 col-lg-10 offset-lg-1">
        <div class="main_attending_area">
          <div class="flower_1 d-none d-lg-block">
            <img src="/assets/img/ornaments/flower-top.png" alt="">
          </div>
          <div class="flower_2 d-none d-lg-block">
            <img src="/assets/img/ornaments/flower-bottom.png" alt="">
          </div>
          <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8">
              <div class="popup_box ">
                <div class="popup_inner">
                  <div class="form_heading text-center">
                    <h3>Vreți să fiți alături de noi?</h3>
                    <p>Vă rugăm să ne oferiți un răspuns până pe 15 mai</p>
                    <img class="img-fluid" src="/assets/img/attend/mardigrastocat.png">
                  </div>
                  <div class="col-xl-12 text-center">
                    <a href="https://forms.gle/g14smHgHbesKCqAP6" target="_blank" class="boxed_btn3">Răspunde acum!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
