{% if page.countdown_enabled %}
<div class="weeding_countdown_area">
  <div class="flowaers_top d-none d-lg-block">
    <img src="/assets/img/ornaments/flower-top.png" alt="">
  </div>
  <div class="flowaers_bottom d-none d-lg-block">
    <img src="/assets/img/ornaments/flower-bottom.png" alt="">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="section_title text-center">
          <img src="/assets/img/ornaments/flowers.png" alt="">
            <span>07 Iunie 2020</span>
            <h3>Timp rămas până la nuntă</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div id="clock" class="countdown_area counter_bg"></div>
      </div>
    </div>
  </div>
</div>
{% endif %}
