<div id="dress-code" class="attending_area">
  <div class="container">
    <div class="row">
      <div class="col-xl-10 offset-xl-1 col-lg-10 offset-lg-1">
        <div class="main_attending_area">
          <div class="flower_1 d-none d-lg-block">
            <img src="/assets/img/ornaments/flower-top.png" alt="">
          </div>
          <div class="flower_2 d-none d-lg-block">
            <img src="/assets/img/ornaments/flower-bottom.png" alt="">
          </div>
          <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8">
              <div class="popup_box ">
                <div class="popup_inner">
                  <div class="form_heading text-center">
                    <h3>Stil vestimentar</h3>
                    <p>
                      Vă rugăm să veniți îmbrăcați cât mai confortabil, pentru
                      a putea să dansați cât mai mult.
                    </p>
                    <p>O sugestie ar putea fi: blugi și tricou cu Metallica.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>