<div id="locatie" class="gallery_area">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="section_title text-center">
          <img src="/assets/img/ornaments/flowers.png" alt="">
          <h3>Locație</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12">
      <div class="section_title text-center">
        <a href="https://goo.gl/maps/9AWYpzczzJQ37BAn8">
          <p><i class="fas fa-map-marked-alt"></i> Chalette - Cabana Bucium</p>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="card-columns">
      <div class="card">
        <img class="card-img-top" src="/assets/img/location/1.jpeg">
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/img/location/2.jpeg">
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/img/location/3.jpeg">
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/img/location/5.jpeg">
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/img/location/6.jpeg">
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/img/location/7.jpeg">
      </div>
    </div>
  </div>
</div>
